form.checklist1{
    position: absolute;
    top: 50px;
    left: 30px;
    font-size: 20px;
    color: #fff;
    z-index: 999;
}
.bg1{
    background-color: #1d1b31;
    position: absolute;
    top: 220px;
    left: 220px;
    width: 420px;
    height: 320px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
h1.check{
    position: absolute;
    top: 140px;
    left: 180px;
}
input{
    width: 50px;
    border-radius: 5px;
    text-decoration: none;
}
h1.qfq{
    position: absolute;
    top: 185px;
    left: 200px;
    font-size: 20px;
}
.bg2{
    background-color: #1d1b31;
    position: absolute;
    top: 220px;
    left: 720px;
    width: 420px;
    height: 320px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
form.checklist2{
    position: absolute;
    top: 50px;
    left: 20px;
    width: 400px;
    height: 390px;
    font-size: 20px;
    color: #fff;
    z-index: 999;
}
h1.rvsm{
    position: absolute;
    top: 185px;
    left: 680px;
    font-size: 20px;
}
li.text_1{
    color: #000;
    position: absolute;
    top: 100px;
    left: 20px;
    height: 620px;
    width: 120px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-decoration: none;
}
a.a{
    position: absolute;
    left: 25px;
    top: 20px;
    text-decoration: none;
    display: grid;
    grid-template-rows: 40px max-content;
    gap: 10px;
    text-decoration: none;
    color: #000;
}
a.a:hover{
    color: aquamarine;
}
li{list-style: none;}